doctype html
html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Custom Object Table

    a(href='/update-cobj') Add to this table

    table
      thead
        tr
          th Name
          th Model
          th Year
      tbody
        each record in records
          tr
            td= record.properties.name
            td= record.properties.model
            td= record.properties.year
